<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ description.strip().replace('\n', ' ') }}">
    <meta name="keywords" content="{{ keywords }}">

    <title>{{ site_name }} &bullet; {% block page_title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@{{ bootstrap_version }}/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='images/logo.svg') }}" rel="icon">

    <!-- Twitter card: -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ twitter_account }}" />
    <meta name="twitter:title" content="{{ site_name }}" />
    <meta name="twitter:description" content="{{ description.strip().replace('\n', ' ') }}" />
    <meta name="twitter:image" content="{{ url_for('static', filename='images/logo.svg') }}" />
    <meta name="twitter:image:alt" content="Logo of {{ site_name }}" />

    {% block style %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('visitor.index') }}">
                {{ site_name }}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                  <li class="nav-item"><a href="{{ documentation }}/users/api/" class="nav-link active">REST API reference</a></li>
                  <li class="nav-item"><a href="{{ documentation }}/users/webserver/" class="nav-link active">How to use?</a></li>
                  <li class="nav-item"><a href="{{ code_repo }}" class="nav-link active">Github</a> </li>
                  <li class="nav-item"><a href="https://www.basissetexchange.org/" class="nav-link active">Basis Set Exchange</a></li>
              </ul>
            </div>
        </div>
    </nav>
    {% block content %}
        <main class="container-fluid">
            {% block page_content %}
            {% endblock %}
        </main>

        <footer class="container-fluid">
            <p class="mb-1"><a href="{{ code_repo }}">{{ site_name }}</a> version <a href="{{ code_repo }}/tree/v{{ site_version }}">{{ site_version }}</a> by <a href="{{ documentation }}/about/#who">{{ author }}</a>.</p>
            <p>Written in <a href="https://www.python.org/">Python 3</a> 🐍 with <a href="https://flask.palletsprojects.com">Flask</a>. Please report <a href="{{ code_repo }}/issues">inaccuracies</a>.</p>
        </footer>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@{{ bootstrap_version }}/dist/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>