{% extends "base.ext.html" %}

{% macro cElement(Z) %}
    <td><div class="cell-element" data-symbol="{{ z_to_symb[Z] }}">
        <span class="symbol">{{ z_to_symb[Z] }}</span><br>
        <span class="Z">{{ Z }}</span>
    </div></td>
{% endmacro %}

{% macro cEmpty() %}
    <td><div class="cell-empty"></div></td>
{% endmacro %}

{% block page_title %}Get basis set and potential{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-12 col-xl-8 col-xxl-7">
            <div class="blk">
                <h2>Welcome to {{ site_name }}</h2>
                <p>
                    This website provide an equivalent to the famous <a href="https://www.basissetexchange.org/">basis set exchange</a> for the <a href="https://pierre-24.github.io/cp2k-basis/basis_sets_and_pseudos/">basis sets and GTH pseudopotentials</a> used in the <a href="https://www.cp2k.org/">CP2K program</a>.
                    Data are obtained from <a href="https://github.com/cp2k/cp2k/tree/master/data">the CP2K <code>data</code> folder</a> (see <a href="https://github.com/pierre-24/cp2k-basis/blob/master/library/">here</a>).
                    For other kind of basis sets and potentials, please go to the <a href="https://www.basissetexchange.org/">BSE</a>.
                </p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                <div class="blk">
                    <p>
                    <input type="text" class="form-control" placeholder="Search basis sets" id="basisSetSearch">
                    </p>
                    <p>
                    <select size="5" class="form-select form-select-sm" id="basisSetSelect">
                    </select>
                    </p>
                </div></div>

                <div class="col-sm-6">
                <div class="blk">
                    <p>
                    <input type="text" class="form-control" placeholder="Search pseudopotentials" id="pseudoSearch">
                    </p>
                    <p>
                    <select size="5" class="form-select form-select-sm" id="pseudoSelect">
                    </select>
                    </p>
                </div>
                </div>
            </div>

            <div class="blk">
            <p>
            <button class="btn btn-primary" id="clearButton">Reset selection</button>
            </p>
            <table id="periodic-table">
                <tr>
                    {{ cElement(1) }}
                    {% for i in range(16) %}
                    {{ cEmpty() }}
                    {% endfor %}
                    {{ cElement(2) }}
                </tr>
                <tr>
                    {{ cElement(3) }}
                    {{ cElement(4) }}
                    {% for i in range(10) %}
                    {{ cEmpty() }}
                    {% endfor %}
                    {% for i in range(5, 11) %}
                        {{ cElement(i) }}
                    {% endfor %}
                </tr>
                <tr>
                    {{ cElement(11) }}
                    {{ cElement(12) }}
                    {% for i in range(10) %}
                    {{ cEmpty() }}
                    {% endfor %}
                    {% for i in range(13, 19) %}
                        {{ cElement(i) }}
                    {% endfor %}
                </tr>
                <tr>
                    {% for i in range(19, 37) %}
                        {{ cElement(i) }}
                    {% endfor %}
                </tr>
                <tr>
                    {% for i in range(37, 55) %}
                        {{ cElement(i) }}
                    {% endfor %}
                </tr>
                <tr>
                    {{ cElement(55) }}
                    {{ cElement(56) }}
                    {{ cEmpty() }}
                    {% for i in range(72, 87) %}
                        {{ cElement(i) }}
                    {% endfor %}
                </tr>
                <tr>
                    {{ cElement(87) }}
                    {{ cElement(88) }}
                </tr>
                <tr class="empty-sep"></tr>
                <tr>
                    {{ cEmpty() }}
                    {{ cEmpty() }}
                    {{ cEmpty() }}
                    {% for i in range(57, 72) %}
                        {{ cElement(i) }}
                    {% endfor %}
                </tr>
                <tr>
                    {{ cEmpty() }}
                    {{ cEmpty() }}
                    {{ cEmpty() }}
                    {% for i in range(89, 93) %}
                        {{ cElement(i) }}
                    {% endfor %}
                </tr>
            </table>
        </div>
        </div>
        <div class="col-12 col-xl-4 col-xxl-5">

            <div class="blk">
                <h2>Basis set</h2>
                <div class="floating-buttons-ctn">
                    <textarea class="form-control form-control-sm" readonly id="basisSetResult"></textarea>
                    <div class="floating-buttons">
                        <button class="btn btn-secondary copy-button" data-textarea="#basisSetResult" id="basisSetCopyBtn"></button>
                        <button class="btn btn-secondary info-button" id="basisSetInfoBtn" data-bs-toggle="collapse" data-bs-target="#basisSetMetadata"></button>
                    </div>
                </div>
                <div id="basisSetMetadata" class="collapse metadata"></div>
            </div>

            <div class="blk">
                <h2>Pseudopotential</h2>
                <div class="floating-buttons-ctn">
                    <textarea class="form-control form-control-sm" readonly id="pseudoResult"></textarea>
                    <div class="floating-buttons">
                        <button class="btn btn-secondary copy-button" data-textarea="#pseudoResult" id="pseudoCopyBtn"></button>
                        <button class="btn btn-secondary info-button" id="pseudoInfoBtn" data-bs-toggle="collapse" data-bs-target="#pseudoMetadata"></button>
                    </div>
                </div>
                <div id="pseudoMetadata" class="collapse metadata"></div>
            </div>

            <div class="blk">
                <h2>Input file</h2>
                <div class="floating-buttons-ctn">
                    <textarea class="form-control form-control-sm" readonly id="inputResult"></textarea>
                    <div class="floating-buttons">
                        <button class="btn btn-secondary copy-button" data-textarea="inputResult"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module">
        import {
            Controller
        } from "{{ url_for('static', filename='scripts.min.js') }}";

        let controller = new Controller({
            'basis_sets': {
                'per_name': {{ bs_per_name|safe }},
            },
            'pseudopotentials': {
                'per_name':  {{ pp_per_name|safe }},
            }
        });
    </script>
{% endblock %}